.search {
    text-align: center;
    margin-top: 50px;

    &-text {
        margin-bottom: 50px;
    }

    &-textBox {
        display: block;
        margin: 0 auto;
        border: $black 1px solid;
        background: $white;
        width: 300px;
        height: 50px;
    }

    &-radio {
        display: none;

        &:checked + label {
            background-color: $black;
            color: $orange;
        }
    }

    label {
        background-color: $white;
        padding: 10px 20px;
        margin-right: 10px;
        border: 1px solid $black;
    }

    &-button {
        margin-top: 50px;
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: $black;
        border: solid 1px $black;
        border-radius: 3px;
        transition: .4s;
        background: $white;
        width: 180px;
        &:hover {
            background: $black;
            color: $orange;
        }
    }
}